.container {display: flex; height: 720px; width: 1280px;} 

.column {flex: 2;}

div.column_blue, .stackgraph_text {font-size: 13px; color: white; background-color: #132361; padding: 10px; flex: 2;}

div.stackgraph_text {flex: 2;}

div.column.stackgraph > div  {width: 55%; margin: auto}

div.column > div {width: 92%; margin: auto; margin-top: 10%; margin-bottom: auto;}

div.column_blue > p > img{display:block ; background: none; border: none; box-shadow: none; width: 50%; margin: auto; margin-bottom: 20px;}

div.column > p > img  {display: block; background: none; border: none; box-shadow: none; width: 70%; margin-top: 20%; margin-left: auto; margin-right: auto;}

section.slide.level2 {background-color: white; border: black; border-style: solid;}

section#title-slide {background-color: white; border: black; border-style: solid;}

h2 {display: none; text-align: center; }

div.freq-holder {position: absolute; bottom: 0; margin-bottom: 10px}